section

  :markdown

    Dear Mapbox,

    The first time I used TileMill was on a Saturday in October 2012. I was
    designing a [map of bike routes](https://github.com/415bike/415tiles#readme)
    for [ReRoute/SF](http://hattery.com/reroutesf/), a civic hackathon. I immediately
    felt empowered by TileMill, with its familiar layer-based UI, and its
    [CSS-like styling language](https://www.mapbox.com/tilemill/docs/manual/carto/).
    Suddenly the world of data within all those publicly-available ESRI shapefiles -- a
    hitherto obscure and amateur-unfriendly format -- was opened, and my ideas
    began to flow: A map of San Francisco's trees! A map of all the libraries
    and museums in the Bay Area! The possibilities seemed endless.

    Since that day, I've had a soft spot in my heart for you, and have kept an
    eye on all the great work your team is doing.

    So far I've had the pleasure of meeting Mick, Ian, Bobby, Dane, Saman,
    Justin, Artem, Tom, Bonnie, Will, and John. In that order.
    Mostly at [State of the Map US](http://stateofthemap.us/) 2013. I have yet to meet Eric Fischer but I've
    been following him on Flickr for a long time.

    Will White got a hold of me last week for a phone call from his home(?) in
    rural Virgina, where he has a dog with a squeaky toy. I didn't know if
    Will was calling to talk about running Mapbox apps on Heroku, or seeing
    if I had an interest in joining your team, but either of those things sounded
    interesting so I was happy to oblige.

    I work at Heroku, where I wear many hats.
    I started on the addons team, and spent the better half of a year redesigning
    and rebuilding [addons.heroku.com](https://addons.heroku.com/), Heroku's marketplace
    for IaaS, SaaS, BaaS, and what-have-you. I've worked as a product manager on
    product launches like our [Europe region](https://blog.heroku.com/archives/2013/4/24/europe-region)
    and [Websockets](https://blog.heroku.com/archives/2013/10/8/websockets-public-beta).

    I'm currently working on the languages team, as the [sole maintainer of Node.js](https://blog.heroku.com/archives/2013/12/10/new-node-buildpack). This means
    I handle all support, engineering, product, and community for node.

    If you look at my [github profile](https://github.com/zeke) you'll probably see
    I've been writing a lot of bash lately, but don't let this give you the wrong impression:
    I'm a designer. I'm not into ops. I don't have a CS background. I barely know what
    [threadsafe](http://en.wikipedia.org/wiki/Thread_safety) means. I don't
    know what people are talking about when they say a problem is [NP-
    hard](http://en.wikipedia.org/wiki/NP-hard). I think of programming as a tool in my designer's toolbox. I love computers not for
    their own sake, but for the things that can be created, shared, and
    automated with them.

    I could go on about my designer/programmer identity crisis, but I'll stop there. I'm sure if we end up
    working together we can talk about it more. From what I gather about the
    Mapbox team so far, you seem like the kind of people who might understand
    these sentiments.

    My design portfolio is up on
    [cargocollective.com/zeke](http://cargocollective.com/zeke), and here are
    some links to design projects of a more cartographic persuasion, this time
    in _reverse_ chronological order:

    - [Bay-Area-Cultural-Asset-Map (2010)](http://cargocollective.com/zeke/Bay-Area-Cultural-Asset-Map)
    - [Place-Displaced (2009)](http://cargocollective.com/zeke/Place-Displaced)
    - [Evocaciones-Literarias (2008)](http://cargocollective.com/zeke/Evocaciones-Literarias)
    - [Trajet-Colle (2007)](http://cargocollective.com/zeke/Trajet-Colle)
    - [Recycle-Torrance (2006)](http://cargocollective.com/zeke/Recycle-Torrance)

    I have a few pans in the fire right now at Heroku like hosting an upcoming node event
    at Heroku HQ, speaking at a couple conferences, finding someone to take my place
    as node maintainer, finishing project already in flight, etc. These things are going to keep
    me busy for the next few months, but I hope we can keep the
    conversation going and hopefully work together when the time is right.

    <3

    [Zeke](https://twitter.com/zeke)

    Sunday, February 9th, 2014
    San Francisco, California, USA, Earth