body
  font-family "Open Sans", "Helvetica Neue", helvetica
  margin 0
  padding 0
  // background white url('images/map-tile-2.jpg')

section
  position relative
  max-width 600px
  margin 0 auto
  padding: 20px
  background white

p
  font-size 16px
  line-height 1.6
  color #444

img
  max-width: 100%

a
  color #C50000